<ion-header>
  <ion-navbar color="dark">
    <div class="header">
      <img src="./assets/icon/icon.png" alt="">
      <span [ngClass]="{'mobile': isMobile, 'desktop': isDesktop}">Astronomy Picture of the Day</span>
    </div>

  </ion-navbar>
</ion-header>


<ion-content>

  <ion-card class="today_card">
    <div *ngIf="nasaData.type === 'unknown'" class="today_image">
      <iframe [src]="imgUrl" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" [ngClass]="{'mobile': isMobile, 'desktop': isDesktop}">
      </iframe>
    </div>

    <div *ngIf="nasaData.type === 'jpg'" class="today_image">
      <img [src]="imgUrl" [ngClass]="{'mobile': isMobile, 'desktop': isDesktop}" (click)="openImageView()" />
    </div>


    <div class="other_details">
      <p class="base date">{{ nasaData.date | date: 'mediumDate' }}</p>
      <div class="copyright_parent">
        <span *ngIf="nasaData.copyright !== ''" class="base">&#169;</span>
        <p class="base copyright">
          {{ nasaData.copyright }}
        </p>
      </div>
      <h1 class="base title">{{ nasaData.title }}</h1>
      <p class="base explanation">{{ nasaData.explanation }}</p>
    </div>
  </ion-card>





</ion-content>
